
// Fontes
$font-family-roboto: Roboto, sans-serif;

// backgrounds
$cor-1: #fff;
$background-1: #f5f6fa;
$background-2: #182C61;
$background-3: #44bd32;
$background-4: #4cd137;

// Breakpoints
$mobile: 767px;
$tablet: 1023px;