@use 'config/reset.scss';
@use 'config/variaveis.scss';

@mixin elemento() {
    padding: 8px;
    margin-left: 20%;
    display: block;
    width: 100%;
    margin-bottom: 16px;
    
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: variaveis.$font-family-roboto;
}
body {
	background-color: variaveis.$background-1;
}
li {
	list-style: none;
}
.container {
	max-width: 1024px;
	width: 100%;
	margin: 0 auto;
}
header {
	background-color: variaveis.$background-2;
	position: sticky;
	top: 0;
	left: 0;
	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 16px 0;
	}
}
.menu {
	display: flex;
	li {
		font-weight: bold;
		margin-left: 24px;
		a {
			color: variaveis.$cor-1;
			text-decoration: none;
		}
	}
}
section {
	padding: 56px 0;
}
.products {
	margin-top: 40px;
	display: grid;
	grid-template-columns: repeat(3, 32.66%);
	column-gap: 1%;
	row-gap: 4%;
	width: 100%;
}
.product-item {
	img {
		width: 100%;
		border-radius: 16px;
	}
}
.product-button {
	display: block;
	background-color: variaveis.$background-3;
	color: variaveis.$cor-1;
	text-align: center;
	padding: 8px 0;
	border-radius: 8px;
	margin-top: 8px;
	text-decoration: none;
	&:hover {
		background-color: variaveis.$background-4;
	}
}
@media screen and (max-width: variaveis.$tablet) {
	.container {
		max-width: 80%;
	}
	.products {
		grid-template-columns: repeat(2, 48.5%);
		column-gap: 3%;
	}
}
@media screen and (max-width: variaveis.$mobile) {

    .container {
        max-width: 78%;
        @include elemento();
    }
	.products {
		display: block;
        max-width: 70%;
	}
	.product-item {
		margin-bottom: 32px;
	}
}
